<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="root">

        <!-- HEADER -->
        <div class="header flex-row">

            <!-- Logo -->
            <div class="logo flex-row">
                <a class="logo-img" href="">
                    <img src="img/logo.png" alt="Logo">
                </a>
                <ul class="logo-menu flex-row">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Movies</a>
                    </li>
                    <li class="genres">
                        <a href="">Genres<i class="fas fa-chevron-down"></i></a>
                        <div class="genres-dropdown">
                            <select v-model="selectGenre" name="genres-dropdown" id="genres-dropdown">
                                <option value="">All</option>
                                <option v-for="genre in movieGenres" :value="genre.id"> {{ genre.name }} </option>
                                
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="logo-xs">
                <a href="">
                    <img src="img/logo-xs.webp" alt="Logo">
                </a>
            </div>

            <!-- Search input -->
            <div class="search-movie fkex-row">
                <input @keyup.enter="searchMovie" 
                        v-model="movieName" 
                        type="text"
                        class="search-input"
                        placeholder="Search Movie or Series">
                <i @click="searchMovie" class="fas fa-search"></i>
                <img src="img/profile.jpg" alt="Profile">
            </div>
        </div>

        <!-- Movie Sample -->

        <div class="movie-container flex-row">

            <div v-for="movie in filteredMovies"
                v-if="movie.genre_ids.includes(selectGenre) || selectGenre == '' "
                class="single-movie">
                
                <!-- Poster -->
                <div class="poster">
                    <img v-if="movie.poster_path != null" 
                        class="movie-img" 
                        :src="'https://image.tmdb.org/t/p/w342/' + movie.poster_path">
                    <img v-else src="img/not-found.jpg" 
                        class="movie-img not-found">

                    <ul class="movie-details">
    
                    
                        <li class="title">
                            {{ movie.title ? movie.title : movie.name }}
                        </li>
                        
                        <!-- Original Title -->
                        <li class="original-title">
                            Original Title: {{ movie.original_title ? movie.original_title : movie.original_name }}
                        </li>
        
                        <!-- Language -->
                        <li class="language">
                            <div v-if="movie.original_language == 'it' || movie.original_language == 'es' || movie.original_language == 'en'" class="actual-language">
                                <span>Original Language:</span>
                                <img :src="'img/' + movie.original_language + '.svg'" alt="">
                            </div>
                            <div v-else>
                                Original Language: Unknown
                            </div>  
                        </li>
        
                        <!-- Score -->
                        <!-- Score sarà visibile solo se il voto del film(vote_average) è maggiore di 0 -->
                        <li v-if="movie.vote_average > 0" class="score">
    
                            <!-- Uso un v-for nella stellina per iterarla tante volte quanto dice il voto -->
                            Score: <i v-for="star in movie.vote_average" class="fas fa-star"></i>
                        </li>
    
                        <!-- Overview -->
                        <li>
                            <em>Overview: " {{ movie.overview }} "</em>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Home Page -->

            <div v-for="movie in movies"
                v-if="homePage == true && (movie.genre_ids.includes(selectGenre) || selectGenre == '' ) "
                class="single-movie">
                
                <!-- Poster -->
                <div class="poster">
                    <img v-if="movie.poster_path != null" 
                        class="movie-img" 
                        :src="'https://image.tmdb.org/t/p/w342/' + movie.poster_path">
                    <img v-else src="img/not-found.jpg" 
                        class="movie-img not-found">

                    <ul class="movie-details">
    
                    
                        <li class="title">
                            {{ movie.title ? movie.title : movie.name }}
                        </li>
                        
                        <!-- Original Title -->
                        <li class="original-title">
                            Original Title: {{ movie.original_title ? movie.original_title : movie.original_name }}
                        </li>
        
                        <!-- Language -->
                        <li class="language">
                            <div v-if="movie.original_language == 'it' || movie.original_language == 'es' || movie.original_language == 'en'" class="actual-language">
                                <span>Original Language:</span>
                                <img :src="'img/' + movie.original_language + '.svg'" alt="">
                            </div>
                            <div v-else>
                                Original Language: Unknown
                            </div>  
                        </li>
        
                        <!-- Score -->
                        <!-- Score sarà visibile solo se il voto del film(vote_average) è maggiore di 0 -->
                        <li v-if="movie.vote_average > 0" class="score">
    
                            <!-- Uso un v-for nella stellina per iterarla tante volte quanto dice il voto -->
                            Score: <i v-for="star in movie.vote_average" class="fas fa-star"></i>
                        </li>
    
                        <!-- Overview -->
                        <li>
                            <em>Overview: " {{ movie.overview }} "</em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>