<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="root">

        <!-- Search input -->
        <input @keyup.enter="searchMovie" v-model="movieName" type="text">
        <button @click="searchMovie">Cerca film</button>

        <!-- Movie Sample -->
        <div v-for="(movie, index) in movies" class="single-movie">

            <!-- Movie Title -->
            <ul class="movie-details">
                <li class="title">
                    Title: {{ movie.title }}
                </li>
                <li class="original-title">
                    Original Title: {{ movie.original_title }}
                </li>
                <li class="language">
                    <div v-if="movie.original_language == 'it' || movie.original_language == 'es' || movie.original_language == 'en'" class="actual-language">
                        <span>Original Language:</span>
                        <img :src="'img/' + movie.original_language + '.svg'" alt="">
                    </div>
                    <div v-else>
                        Original Language: Unknown
                    </div>  
                </li>
                <li class="score">
                    Score: {{ movie.vote_average }}
                </li>
            </ul>
        </div>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>